<section>
  <section class="eventItem" *ngFor="let event of allEvents">
      <section id="name"><h2>{{event.name}}</h2></section>
      <section id="date">
        <b>{{event.date}}</b> <br> <br>
        <h5>¿Vas a asistir?</h5>
      </section>
      <section id="desc">
        <b>Descripción:</b>
        <h5>{{event.description}}</h5>
      </section>
      <section id="opts">
        <img src="../../assets/check.png" alt="">
        <img src="../../assets/close.png" alt="">
      </section>
      <section id="creator">
        <b>Creador del evento:</b> 
        <h5>{{event.creator.user}}</h5>
      </section>
      <section id="state">
          <b>Estado del evento:</b> 
          <h5>{{event.state}}</h5>
        </section>
  </section>
</section>

