.eventItem {
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    background-color: #1089ff;
    min-height: 20vh;
    margin-top: 4vh; 
    padding: 2vh 2vw;

    display: grid; 
    grid-template-areas: "name date"
                         "desc opts"
                         "creator state";   
}

#name {
    grid-area: name;
    width: 70vw;
    align-self: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

#desc {
    grid-area: desc;
    width: 70vw;
}

#opts {
    grid-area: opts;
    text-align: center;
    align-self: center;
    color: #23374d;
    margin-bottom: 2vh;
    /* background: rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    box-shadow: -11px 13px 35px 5px rgba(0, 0, 0, 0.1); */
}

#opts img {
    width: 3vw;
    margin: 1vh 1vw;
    padding: 10px;
    background: rgb(34, 34, 34);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

#date {
    grid-area: date;
    text-align: center;
}

#state {
    text-align: center;
}

