/* HEADER */
.header {
    background: blue;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header nav {
    display: flex;
    align-self: center;
    background: green;
    width: 98vw;
}

#perfil {
    background: red;
    width: 40vw;
    height: 14vh;
}

#navegador ul {
    display: flex;
    list-style-type: none;
}

#navegador ul li {
    align-self: center;
    margin: 20px;
}

#navegador ul li a {
    border: 1px solid black;
    border-radius: 10%;
}

/* CONTENT */
.content {
    background: white;
}

/* FOOTER */
.footer {
    background: yellow;
    height: 7vh;
}