<!-- <section>
  <header class="header">
    <nav>
      <section id="perfil">
        Imagen Nombre Usuario 
      </section>
      <section id="navegador">
          <ul>
            <li> <a href="">Inicio</a> </li>
            <li> <a href="">Amigos</a> </li>
            <li> <a href="">Eventos</a> </li>
            <li> <a href="">Mi Perfil</a> </li>
          </ul>
      </section>
    </nav>
  </header>

  
  <main class="content">
    <router-outlet></router-outlet>
  </main>
  
  <footer class="footer">
    
  </footer>
</section> -->


<section>
    <input type="text">
    <button></button>
</section>

<section>
  <app-friends-list [mensaje]="mensaje"></app-friends-list>
</section>
