section {
    width: 70%;
}

aside {
    width: 20%;
}
.centrar {
    display: flex; 
    flex-direction: row; 
    flex-wrap : wrap; 
    justify-content: space-around;
}

.main {
    display: flex; 
    flex-direction: row; 
    flex-wrap : wrap; 
    justify-content: space-between;
}

.footer {
    display: flex; 
    flex-direction: row; 
    flex-wrap : wrap; 
    justify-content: space-between;
}

.leftFootBox {
    width: 50%;
}

.rightFootBox {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}